body
{
    background-color: #12151f;
}
.error
{
    position: absolute;
    left: 230px;
    width: 100px;
    height: 100px;

}
.background_main
{
    background-color: #5d5d5f70;
    width: 100%;
    height: 1000px;
    border-radius: 10px ;
    opacity:0.1;
}

.Main_body
{
    opacity:1;
    position: absolute;
    top: 40px;
    left: 90px;
    width: 89%;
    border: #282d44  10px solid;
    height: 800px;
    box-shadow: 10px 10px 10px black;
    border-radius: 10px;

}

.background_one
{
    opacity:2;
    width: 100%;
    height: 50%;
    position: absolute;
    background-color: #0d1018b7;
    animation: identifiersss 2s;
}
.background_two
{
    opacity:2;
    width: 100%;
    height: 50%;
    top: 400px;
    position:absolute;
    background-color: #0c0e14b7;
    animation: identifiersss 2s;
}
.New_line_one
{
    position: absolute;
    bottom:490px;
    width: 35%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    left: 90px;
    height: 20px;
    background-color: #353c58;
}
.New_line_two
{
    position: absolute;
    bottom:490px;
    width: 35%;
    border-radius: 10px;
    box-shadow: -10px 10px 10px black;
    left: 1130px;
    height: 20px;
    background-color: #282d44;
}
.join
{
    position: absolute;
    left: 200px;
}
.o_two
{
    position: absolute;
    left: 70px;
    top:80px
}
@keyframes identifiersss {
    0%{width: 0%;}
    100%{height: 35%;}
    
}
@keyframes identifier {
    0%{width: 0px;}
    100%{width: 150px;}
}
@keyframes soemthing {
    0%{width: 0px;}
    100%{width: 200px;}
}
@keyframes test {
    0%{height: 0px;}
    100%{height: 250px;}
}
@keyframes identifierss {
    0%{height: 0px;}
    100%{height: 250px;}
    
}
@keyframes smail {
    0%{width: 0px;}
    100%{width: 129px;}
    
}
@keyframes long {
    0%{width: 0px;}
    100%{width: 170px;}
}
@keyframes hight {
    0%{height: 0px;}
    100%{height: 150px;}
    
}
@keyframes new_width {
    0%{width: 0px;}
    100%{width: 90px;}
    
}
@keyframes new_widths {
    0%{width: 0px;}
    100%{width: 100px;}
    
}
@keyframes hightss {
    0%{height: 0px;}
    100%{height: 90px;}
    
}
@keyframes hights {
    0%{height: 0px;}
    100%{height: 100px;}
    
}
@keyframes New_smail_hight {
    0%{width: 0px;}
    100%{width: 20px;}
    
}
@keyframes new_hight {
    0%{height: 0px;}
    100%{height: 200px;}
    
}
@keyframes ew_hight {
    0%{height: 0px;}
    100%{height: 200px;}
    
}
@keyframes there {
    0%{width: 0px;}
    100%{width: 20px;}
    
}
@keyframes long_n {
    0%{height: 0px;}
    100%{height: 100px;}
}
@keyframes roate {
    0%{rotate: 0deg;}
    100%{rotate: 50deg}
    
}
@keyframes ther {
    0%{width:0% ;}
    100%{width: 35%;}
    
}
@keyframes New_an {
    0%{rotate: 0deg;}
    100%{ rotate: -35deg;}
    
}
@keyframes New_test {
    0%{width: 0px;}
    100%{width: 195px;}
    
}
@keyframes ew_hights {
    0%{height: 0px;}
    100%{height: 240px;}
    
}
@keyframes  this {
    0%{height:0px ;}
    100%{height:250px;}
}
@keyframes is {
    0%{height: 0;}
    100%{height: 250px;}
}